{{#partial "content"}}

    <h3> Yeey!!!</h3>
    <p>Your department details have been captured and saved.</p>
    <hr>
    <p><a href="/departments">See created Department here ....</a></p>
{{/partial}}

{{> layout.hbs}}