{{#partial "content"}}
    <div class="page-header">
        <h1>Welcome to Safaricom Technology Division</h1>
        <h2><small>We're changing the world with technology!</small></h2>
        <img src="/images/pleaseCallMe.jpeg" width="100%">
    </div>
{{/partial}}
{{> layout.hbs}}