{{#partial "content"}}

    <h3> Yeey!!!</h3>
    <p>Your section details have been captured and saved.</p>
    <hr>
    <p><a href="/departments">View Details here ....</a></p>

{{/partial}}

{{> layout.hbs}}